[Unit]
Description=Container Creator Node.js App
After=container-creator-init.service
Wants=container-creator-init.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/opensource-server/create-a-container
ExecStart=/usr/bin/node /opt/opensource-server/create-a-container/server.js
Restart=on-failure
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target